img{
    width: 200px;
    height: 300px;
}

.header{
    display: flex;

}

.header1{
    display: flex;
    width: 1300px;
    height: 200px;
    justify-content: space-between;
    flex-direction: row;
}

.header2{
    display: flex;
    
}