
/* Vazifa */
.content{
    display: flex;
    margin: auto;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.content div{
    display: flex;
    width: 150px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    color: #fff;
    justify-content: center;
    align-items: center;
}
/* Yangi vazifa */
.contaner{
    display: flex;
    background-color: blue;
    border: 1px solid black;
    width: 1500px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
    
}
/* Yangi vazifa */
.head5{
    display: flex;
    background-color: blue;
    border: 1px solid black;
    width: 1200px;
    height: 500px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;    

}

.head6{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: yellow;
}

.head7{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: orange;
}


